﻿<%@ Page Title="" Language="C#" MasterPageFile="~/GLOBAL.Master" AutoEventWireup="true" CodeBehind="Get.aspx.cs" Inherits="Documents.Get" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MAIN" runat="server">
<asp:Label runat="server" ID="msg"></asp:Label>
</asp:Content>
