﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="DemoWeb._Default" Trace="true" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>DemoWeb</title>
    <link type="text/css" rel="Stylesheet" href="demo.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>    
    <img src="/Code.aspx?n=4" />
    <br />
    上一次的验证码：Session["ValidateCode"] = <asp:Label runat="server" ID="code"></asp:Label>，本次验证码将在刷新后显示。
        <asp:Label ID="Txt" runat="server" Text=""></asp:Label>
        <asp:GridView ID="GridView1" runat="server"></asp:GridView>
        
    </div>
    </form>
</body>
</html>
