﻿body
{
	margin:0;
	padding:50px;
}

body, p, td, input, select, textarea
{
	line-height: 150%;
	font-family:  Verdana,Arial, 宋体,Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

a:link,a:visited {
	text-decoration:none;
	color: #CCC;
}
a:hover {
	text-decoration:underline;
	color: #FFF;
}

pre {
	display: block;
	margin: 1em 0;
	padding: 0.5em;
	border-left: 6px solid #0d0d09;
	background-color: #000;
	overflow: auto;
}
h2 
{
	color:#00F;
	font-size:24px;
	font-family:  微软雅黑;
}

att {color:#F00;}