div.Partline {display:none;}
pre {line-height:180%; background-color:#9CC0DE; border:1px solid #9CC0DE; width:96%; overflow:auto; margin:0 0 1em 1.5em; }
pre,pre ul,pre li,pre ol,pre span {font-family:"Courier New","Consolas",Courier,mono,serif; font-size:11px;}
pre ul {list-style:disc outside; margin:0 0 1em 2em;}
pre ol, pre ol li, pre ol li span{margin:0; padding:0; border:none;}
pre ol {list-style:decimal outside; margin:0 0 1em 2em;}
pre a, pre a:hover{background:none; border:none; padding:0; margin:0}
pre ol {list-style:decimal; background-color:#9CC0DE; margin:0px 0px 1px 45px !important; color:#5C5C5C}
pre ol li{list-style:decimal-leading-zero; list-style-position:outside !important; border-left:3px solid #6CE26C; background-color:#F8F8F8; color:#5C5C5C; padding:0 3px 0 10px !important; margin:0 !important; line-height:16px}
pre ol li.alt{list-style:decimal;background-color:#EEF7FF; color:inherit; background-image:none; display:block;}
pre ol li span{color:black; background-color:inherit}
pre .comment, pre .comments{color:#008200; background-color:inherit}
pre .string{color:blue; background-color:inherit}
pre .keyword{color:#00f; font-weight:bold; background-color:inherit}
pre .preprocessor{color:gray; background-color:inherit}
pre .dp-xml .cdata{color:#ff1493}
pre .dp-xml .tag, pre .dp-xml .tag-name{color:#a00; font-weight:bold}
pre .dp-xml .attribute{color:red}
pre .dp-xml .attribute-value{color:blue}
pre .dp-sql .func{color:#ff1493}
pre .dp-sql .op{color:#808080}
pre .dp-rb .symbol{color:#a70}
pre .dp-rb .variable{color:#a70; font-weight:bold}
pre .dp-py .builtins{color:#ff1493}
pre .dp-py .magicmethods{color:#808080}
pre .dp-py .exceptions{color:#A00}
pre .dp-py .types{color:#A00; font-style:italic}
pre .dp-py .commonlibs{color:#8A2BE2; font-style:italic}
pre .dp-j .annotation{color:#646464}
pre .dp-j .number{color:#C00000}
pre .dp-delphi .number{color:blue}
pre .dp-delphi .directive{color:#008284}
pre .dp-delphi .vars{color:#000}
pre .dp-css .value{color:black}
pre .dp-css .important{color:red}
pre .dp-c .vars{color:#d00}
pre .dp-cpp .datatypes{color:#2E8B57; font-weight:bold}
