﻿body { margin: 0; padding: 0; color: #000; background-color: #FFF; }
body, td, p, input, textarea, select { font-size: 12px; line-height: 150%; font-family: Arial, Helvetica, sans-serif; }
.att { color: #F00; }
a img { border: 0; }
form { margin: 0; padding: 0; }
h1 { padding: 15px 0; font-size: 38px; }
h3 { font-size: 14px; margin: 0; padding: 10px 0 5px; border-bottom: 1px solid #ccc; }
.clear { clear: both; display: block; height: 1px; line-height: 1px; }
.green { color: #008000; }
.top { background-color: #006600; color: #FFF; padding: 3px 10px; }
.top a { color: #FFFF00; }
.bottom { background-color: #000; color: #FFF; padding: 3px 10px; }
.bottom a { color: #00FF00; }
.main { padding: 10px; }
.main li.item { margin-bottom: 6px; padding: 0; }
.main .subject { background-color: #EFEFEF; border-bottom: 1px dotted #CCC; padding: 3px 6px; font-size: 14px; }
.main .shown { background-color: #CCCCCC; }
.main .subject a { margin-left: 5px; text-decoration: none; }
.main .note { font-size: 12px; margin-left: 10px; color: #666; }
.main .detail { padding: 6px; }
.main .info ul { margin: 0; padding: 10px; list-style-position: inside; }
.main .codeText { width: 100%; height: 100px; overflow: hidden; }
.main ul.tagList { margin: 0; padding: 0 0 0 30px; }
.main .cmd { font-weight: normal; }
.main .position { font-size: 28px; font-family: Georgia; font-weight: bolder; }
